.btn-transparent:focus {
  background-color: #2be9f0;
}

.navbar-nav .nav-link:hover {
  background-color: rgba(99, 13, 82, 0.5);
}

code {
  font-family: "Oswald";
  font-size: 88.5%;
  color: #fc21d1;
}

.member-photo .mask {
  background-color: rgba(16.86, 91.37, 94.12, 0.85);
}

.form-meghna input:hover, .form-meghna textarea:hover {
  border-color: #fc21d1
}

#my-form-button:hover {
  background-color: #2be9f0;
}

.counters-item span {
    color: #2be9f0;
}

.social-icon ul li a:hover {
  background: #2be9f0;
}
